<div id="userlink">
<% if user_signed_in? && current_user.admin? %>
  <%= link_to "See All Users", users_path %>
<% end %>
</div>
<span id=nbafinalyears>
  <% @nbafinals.each do |finals| %>
  <h3><%= link_to finals.year, nbafinal_path(finals) %></h3>
<% end %>
</span>

<div id=finals-list>
</div>
